*
{
    margin: 0;
    font-family: "Fira Sans", Arial, sans-serif;
}

img{
    width: 100%;
    display: block;
}

a, ul{
    text-decoration: none;
    list-style: none;
    color: black;
}



header{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}

header h1{
    font-size: 2.5rem;
}

header ul{
    display: flex;
    gap: 20px;
    padding-inline-start: 0px;
}

header a{
    display: block;
    padding: 10px;
}

/************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/


main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    padding: 20px 40px;
    max-width: 1000px;
    margin: 50px auto;
    align-items: center;
    gap: 100px;
    position: relative;

}

main .textos h1{
    font-size: 3rem;
    max-width: 12ch;
    margin-bottom: 30px;
    color: #141414;
}

main .textos h2{
    font-weight: 300;
    font-size: 1.275rem;
    color: #525252;
}

main .detalhe{
    max-height: 100px;
    max-width: 100px;
    grid-column: 2;
    position: absolute;
    display: block;
    top: 60px;
    left: -45px;
    z-index: -1;
}

/************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px 40px;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    gap: 100px;
    position: relative;
}

section h1{
    grid-area: 1;
    display: flex;
    max-width: 4ch;
    flex-wrap: wrap;
    font-size: 7.5rem;
    line-height: 1;
    word-break: break-all;
    color: #E0E0E0;
    align-self: flex-start;
}

section h2{
    font-weight: 400;
    color: #525252;
    align-items: flex-start;
    align-self: flex-start;
    margin-bottom: 40px;
}

section h2 strong{
    color: #141414;
}

.resumo .trabalhos .primeiro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 20px;
    position: relative;
    background: #F5F5F5;
    border-radius: 10px;
    margin-bottom: 20px;
}

.resumo .trabalhos .primeiro::before{
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    top: 20px;
    left: -4px;
}

.resumo .ano{
    position: absolute;
    left: -80px;
    top: 20px;
    font-size: 0.75rem;
    text-align: right;
}

.resumo .empresa,
.cargo{
    font-weight: 600;
    margin-bottom: 10px;
}

.resumo .resumo{
    color: #525252;
    margin-right: 10px;
}

.resumo .qualidades span{
    background: #ffff;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.850rem;
}

/************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

article{
    color: white;
    background: #141414;
}

article .formacao-dados{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 100px 40px;
    max-width: 1000px;
    margin: 30px auto;
    align-items: center;
    gap: 100px;
    position: relative;
}

article h1{
    grid-area: 1;
    display: flex;
    max-width: 4ch;
    flex-wrap: wrap;
    font-size: 7.5rem;
    line-height: 1;
    word-break: break-all;
    color: #000;
    align-self: flex-start;
    padding: 0;
}

article h2{
    font-weight: 400;
    color: #A3A3A3;
    align-items: flex-start;
    align-self: flex-start;
    margin-bottom: 40px;
}

article h2 strong{
    color: wheat;
}

.formacao-dados .cursos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-bottom: 40px;;
}

.curso1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background:#000;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}

.curso1::before{
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    top: 10px;
    left: -4px;
}

.curso1 .tipo{
    color: #A3A3A3;
    font-weight: 100;
    margin-bottom: 30px;
}

.curso1 .nome_curso{
    font-weight: bold;
    align-self: start;
}

.curso1 .instituicao{
    align-self: end;
    color: #A3A3A3;
}

.formacao-dados .cursos_intensivos{
    margin-bottom: 20px;
    color: wheat;
    position: relative;
}

.itensivos .ferramentas p{
    color: red;
}
.formacao-dados .cursos_intensivos::before{
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    background: url(/07-projeto-portfolio/img/cursos.svg);
    left: -35px;
    top: -3px;
}

.formacao2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formacao2 .nome{
    color: #c0c0c0;
    margin-bottom: 5px;
}

.intensivos .instituicao{
    color: #A3A3A3;
    margin-bottom: 10px;
}

.formacao-dados .cursos_intensivos1{
    margin: 40px 0 20px 0;
    color: wheat;
    position: relative;
}

.formacao-dados .cursos_intensivos1::before{
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    background: url(/07-projeto-portfolio/img/idiomas.svg);
    left: -35px;
    top: -3px;
}

.idiomas strong{
    font-weight: 100;
    color: #A3A3A3;
}

/************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

footer{
    background: black;
    height: max-content;
}
.footer{
    display: flex;
    padding: 100px 40px;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    gap: 100px;
    position: relative;
    justify-content: center;
}

footer img{
    width: 100px;
    display: block;
    position: absolute;
    top: -50px;
    left: 50px;
}

footer h4{
    color: wheat;
    display: flex;
    flex-wrap: nowrap;
    word-wrap: none;
    font-size: 1.15rem;
    max-width: 40ch;
    line-height: 1.5rem;
}

.contatos{
    display: flex;
    flex-direction: column;
}

.contatos .wpp{
    color: wheat;
    padding: 20px;
    position: relative;
}

.contatos .wpp::before{
content: "";
position: absolute;
display: block;
width: 25px;
height: 25px;
background: url(/07-projeto-portfolio/img/whatsapp_white_24dp.svg);
left: -10px;
top: 17px;
}

.contatos .email{
    color: wheat;
    padding: 20px;
    position: relative;
}

.contatos .email::before{
content: "";
position: absolute;
display: block;
width: 25px;
height: 25px;
background: url(/07-projeto-portfolio/img/email_white_24dp.svg);
left: -10px;
top: 17px;
}

footer .direitos{
    max-width: 1250px;
    margin: 0 auto;
    color: #525252;
    text-align: center;
}
